@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Jost:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Jost', sans-serif;
}

footer {
    margin-top: 4rem;
}

.font-dm-serif {
    font-family: 'DM Serif Text', serif;
}