---
import Layout from "../layouts/Layout.astro";
import "photoswipe/style.css";
import "photoswipe/dist/photoswipe.css";

interface GalleryImage {
    width: number;
    height: number;
    fileName: string;
}
const galleryPhotosPath = "/src/assets/img/galerie/";
const photosFiles = await Astro.glob("/src/assets/img/galerie/*");
// console.log(photosFiles);

const photos: GalleryImage[] = photosFiles
    .filter((x) => ["jpeg", "jpg", "png"].includes(x.default.format))
    .map((e): GalleryImage => {
        const { src, width, height } = e.default;
        return {
            fileName: src,
            width,
            height,
        };
    });

// console.log(photos);
---

<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";

    const lightbox = new PhotoSwipeLightbox({
        gallery: "#gallery-pictures",
        children: "a",
        pswpModule: () => import("photoswipe"),
    });
    lightbox.init();
</script>

<Layout title="Galerie photos">
    <div class="container mx-auto p-8">
        <div
            class="gallery columns-2 gap-4 sm:columns-2 sm:gap-4 md:columns-3 lg:columns-4 [&>a:not(:first-child)]:mt-4"
            id="gallery-pictures"
        >
            {
                photos.map((img) => (
                    <a
                        href={img.fileName}
                        data-pswp-width={img.width}
                        data-pswp-height={img.height}
                        target="_blank"
                    >
                        <img class="rounded-md" src={img.fileName} alt="" />
                    </a>
                ))
            }
        </div>
    </div>
</Layout>

<style>
    .gallery a {
        display: block;
    }
</style>
