---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Notre histoire">
    <div class="container mx-auto p-8 max-w-screen-lg">
        <p>
            <img
                class="w-80 float-left mr-4 mb-4"
                src="/images/exterieur3.jpeg"
            />

             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id elit
            egestas, dictum ligula ut, laoreet leo. Morbi tortor mauris, vulputate
            eget tincidunt quis, placerat in est. Integer nec pulvinar felis. Cras
            ac quam fringilla, imperdiet enim vel, pulvinar elit. Morbi elementum
            ullamcorper risus sed dictum. Quisque gravida eu massa eu vestibulum.
            Pellentesque luctus convallis enim, a feugiat enim dignissim sed. Nunc
            eleifend cursus eleifend. Vestibulum ante ipsum primis in faucibus orci
            luctus et ultrices posuere cubilia curae; Vivamus dolor magna, laoreet
            in lobortis non, gravida eu risus. Nullam elementum varius nisl, ut maximus
            leo aliquet rutrum. Morbi facilisis mi ut volutpat posuere. Maecenas
            pellentesque, mi et pharetra sodales, libero enim volutpat metus, a sollicitudin
            enim nibh nec eros.
        </p>
        <p class="mt-12">
            Sed eget pharetra metus. Curabitur bibendum pulvinar ullamcorper.
            Mauris dictum lectus congue sapien vestibulum dignissim. Donec in
            dapibus libero. Suspendisse potenti. Ut faucibus orci eu nulla
            condimentum pellentesque. Donec placerat libero purus, luctus
            feugiat ipsum ornare eget. Donec erat magna, euismod non egestas ac,
            suscipit vitae augue. Ut vestibulum lectus lacus, sed tempus arcu
            tristique vitae. Pellentesque purus nulla, auctor at facilisis sit
            amet, commodo vitae orci. Integer consectetur ante ac tincidunt
            porttitor. Aenean tincidunt eros vel elementum molestie. In hac
            habitasse platea dictumst.
        </p>
    </div>
</Layout>
