---

---

<footer class="border-t border-gray-100">
    <div class="p-4 text-center">
        <p class="text-sm">&copy; copyright 2023 - Pouponnière de Man</p>
        <p class="text-xs text-gray-500">
            Design with &hearts; by <a
                href="https://www.linkedin.com/in/nehemiekoffi">Nehemie KOFFI</a
            >
        </p>
    </div>
</footer>
